/* Search form container */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
html, body {
  height: 100%; /* Use min-height if you expect the content to exceed the viewport height */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(135deg, #e0f7f3 0%, #f0f8f7 100%);

}


  
  

.cart-search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 20px; /* Add space between each card */
  margin: 20px;
}

/* Search form container (within cart-search-bar) */
.cart-search-bar .searchForm {
  display: flex;
  justify-content: flex-start; /* Move search bar to the left */
  width: 200%; /* Ensure it takes the full width */
  max-width: 200vw; /* Responsive full width */
  margin-left: 34vw;
}

/* Input box styles with larger width */
.cart-search-bar .searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%; /* Set initial width to 50% of the container */
  max-width: 700px; /* Set a maximum width */
}

.search-bar-top {
 margin-top: 2%;
 margin-left: 45%;

}


  .failed-recipe {
    color: black;
   
     font-size: larger;

  }

  .recipe-cards-container {
    margin-top: 2vh;
    margin-left: 5vw;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 
    box-sizing: border-box;
    padding-bottom: 5%;
    
   
  }
  
  .recipe-cards-container > * {
    box-sizing: border-box;
  }
  

  .flip-card {
    background: linear-gradient(to bottom, #e0f7f3, #f0f8f7);  ;
 
    width: 20vw;
    height: 40vh;
    
    
   
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: linear-gradient(to bottom, #e0f7f3, #f0f8f7);
    
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background: linear-gradient(to bottom, #e0f7f3, #f0f8f7);;
    
   
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:#2b6777 ;
    color: #f8fdfb;
    transform: rotateY(180deg);
    overflow-y: auto;
  }

 
